# No backup files
*~
# No windows shortcuts
*.lnk
# No Openoffice .lock
.lock
# No OpMon save files
*.oparams
*.osave
*.tmp
*.out
*.log
*vgcore*
installers/Windows/*.exe
installers/Debian/*.deb
*.db
*.class
*.info
*.db
# No C/C++ compiled files
*.o
*.res
/bin/
/_CPack_Packages/
/include/
/lib/
OpMon_build_log.html
OpMon.layout
OpMon.depend
OpMon-Linux.layout
OpMon-Linux.depend
TODO
OpMon-Win_NoInstall.zip
Makefile
.orig
build/
#CMake
CMakeFiles/*
_CPack_Packages/*
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
*.deb
*.tar.gz
install_manifest.txt
*#
.#*
config.hpp
.cproject
.project
OpMon.cbp
CMakeLists.txt.user
*.ninja
.ninja_*
GPATH
GRTAGS
GTAGS
doc/html
# Visual Studio Code
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
compile_commands.json
doc/latex
.settings/
/Default/
