# No backup files
*~
# No windows shortcuts
*.lnk
# No Openoffice .lock
.lock
# No OpMon save files
*.oparams
*.osave
*.tmp
*.out
*.log
exe/log.txt
exe/errLog.txt
exeLinux/log.txt
exeLinux/errLog.txt
exeLinux/logs/log.txt
exeLinux/logs/errLog.txt
exeLinux/logs
exeLinux/logs/
exeLinux/OpMon
exeLinux/OpMon-Debug
*vgcore*
exe/OpMon.exe
exe/OpMon-Debug.exe
installers/Windows/*.exe
installers/Debian/*.deb
*.db
*.class
*.info
*.db
# No C/C++ compiled files
*.o
*.res
/bin/
/_CPack_Packages/
/include/
/lib/
OpMon_build_log.html
OpMon.layout
OpMon.depend
OpMon-Linux.layout
OpMon-Linux.depend
TODO
OpMon-Win_NoInstall.zip
Makefile
.orig
build/
#CMake
CMakeFiles/*
_CPack_Packages/*
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
*.deb
*.tar.gz
install_manifest.txt
*#
.#*
config.hpp
src/opmon/model/objects/AttackEffectsOld.txt
.cproject
.project
OpMon.cbp
CMakeLists.txt.user
*.ninja
.ninja_*
GPATH
GRTAGS
GTAGS
doc/html
