#Pas de raccourcis
*.lnk
#Pas de lock de OpenOffice
.lock
#Pas de fichiers de sauvegarde opmon
*.oparams
*.osave
*.tmp
exe/log.txt
exe/errLog.txt
exeLinux/log.txt
exeLinux/errLog.txt
*.db
*.class
*.info
*.txt
*.db
pages/doc/DocSample.html
/Debug/
# Pas de fichier de compilation C++
*.o
*.res
/bin/
/include/
/lib/
/temp/
/.objs/
cbp2make/*
doxygen/doxyfile
*.opmod
OpMon_build_log.html
OpMon.layout
OpMon.depend
OpMon-Linux.layout
OpMon-Linux.depend
TODO
/ziplinux/*
OpMon-Win_NoInstall.zip
Makefile