[Desktop Entry]
Encoding=UTF-8
Name=OPMon
Version=0.1
Comment=Open source monster-fighting RPG
Comment[fr]= Le clone libre de Pokemon !
GenericName=OPMon
Terminal=false
Icon=/usr/share/OpMon/opmon.png
Type=Application
Exec=opmon
Categories=Game;
