#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=OpMon
Version=a0.12.1
Comment=Open source monster-fighting RPG
Comment[fr]= Le clone libre de Pokemon !
GenericName=OpMon
Terminal=false
Icon=/usr/share/OpMon/opmon.png
Type=Application
Exec=opmon
Categories=Game;
