#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=OPMon
Version=a0.13
Comment=Open source RPG monster-fighting 
Comment[fr]= Le clone libre de Pokemon !
Comment[es]= El juego inspirado de Pokemon !
GenericName=OpMon
Terminal=false
Icon=/usr/share/OpMon/opmon.png
Type=Application
Exec=opmon
Categories=Game;
