[Desktop Entry]
Encoding=UTF-8
Name=OPMon
Version=a0.16
Comment=Open source RPG monster-fighting 
Comment[fr]= Le clone libre de Pokemon !
Comment[es]= El juego inspirado de Pokemon !
Comment[de]= Der freie Pokemon Klon !
GenericName=OpMon
Terminal=false
Icon=/usr/share/OpMon/opmon.png
Type=Application
Exec=opmon
Categories=Game;RolePlaying;
